.catalog {
  padding-bottom: 100px;
  &__tabs {
    margin: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__tab {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    margin: 0 5px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    transform: skew(-25deg);
    transition: 0.5s all;
    &:hover {
      box-shadow: 3px 3px 20px $main-color;
      border: none;
    }
    cursor: pointer;
    div {
      transform: skew(25deg);
    }
    &__active {
      color: #fff;
      background-color: $main-color;
      border: none;
    }
  }
  &__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    width: 300px;
    min-height: 440px;
    background-color: #ffffff;
    border: 2px solid #e8e8e8;
    padding: 20px 20px 26px 20px;
    overflow: hidden;
    margin-bottom: 20px;
    &__img {
      max-width: 100%;
      height: 200px;
      display: block;
      margin: 0 auto;
    }
    &__subtitle {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      color: #0d0d0d;
      text-align: center;
    }
    &__desc {
      margin-top: 16px;

      font-size: 14px;
      line-height: 1.2;
      font-weight: 300;
      color: #0d0d0d;
      text-align: center;
    }
    &__link {
      margin-top: 17px;
      display: block;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      text-decoration: underline;
      color: #c70101;
      text-align: center;
      &:hover {
        color: #c70101;
      }
    }
    hr {
      margin-top: 19px;
      margin-bottom: 21px;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__old-price {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 300;
      color: #555555;
      text-decoration: line-through;
    }
    &__price {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 700;
      color: #050505;
    }
    &__wrapper {
      display: flex;
      width: calc(200% + 40px);
    }
    &__content {
      width: 50%;
      margin-right: 0;
      transform: translatex(-100%);
      transition: 0.5s;
      &_active {
        margin-right: 20px;
        transform: translateX(0%);
      }
    }
    &__list {
      position: relative;
      width: 50%;
      margin-left: 20px;
      transform: translateX(0%);
      transition: 0.5s;
      padding-right: 20px;
      margin-bottom: 0;
      padding-left: 19px;

      list-style-type: none;

      &_active {
        margin-left: 20px;
        transform: translateX(-100%);
      }
      li {
        position: relative;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #555555;
        margin-bottom: 20px;
        &:before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: $main-color;
          left: -14px;
          top: 7px;
        }
      }
    }
    &__back {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(calc(-50% - 19px));
      display: block;
      color: $main-color;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        color: $main-color;
      }
    }
  }
}
